html,
body {
	background-color: white;
	padding: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#app {
	background-color: white;
	padding: 0;
	margin: 0 auto;
	// height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.m-page {
	background-color: white;
	padding: 15px;
}
