:root {
	--font-color: #666;
	--layout-header-bg-color: #015293;
	--layout-side-bg-color: #134472;
	--layout-side-toggle-bg-color: #113353;
	--layout-side-active-color: orange;

	--layout-side-menu-sub-color: #113353;

	--default-color: #dcdfe6;
	--primary-color: #2281d3;
	--success-color: #67c23a;
	--warning-color: #e6a23c;
	--danger-color: #f56c6c;
	--info-color: #909399;

	--default-height: 30px;

	--multi-view-header-bottom-bg: #333;

	--multi-view-tab-each-bg: #e8f4ff;
	--multi-view-tab-each-color: #666;

	--multi-view-tab-each-bg-active: rgb(199, 223, 247);
	--multi-view-tab-each-color-active: #2281d3;

	--multi-view-body-bg: #f0f0f0;

	--table-header-bg: #fafafa;
	--table-header-color: #666;
	--table-header-resizer-bg: #c6c6c6;
	--table-header-th-bottom-color: #f0f0f0;
	--table-body-td-bottom-color: #f0f0f0;
	--table-header-hover-tr-bg: #fafafa;

	--table-header-selected-tr-bg: #e6f7ff;
	--table-header-selected-td-bottom-color: #ddd;
}
